<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auto Slide com Imagens</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #slide {
            width: 100%;
            height: 120vh;
            background-size: cover;
            background-position: center;
            transition: background-image 1s;
        }

        @media only screen and (max-width: 768px) {
            #slide {
                width: 100%;
                height: 100vh;
                background-size: cover;
                background-position: center;
                transition: background-image 1s;
            }
        }
    </style>
</head>

<body>
    <div id="slide"></div>

    <script>
        $(document).ready(function () {
            const images = [
                'https://charliebrownjs.github.io/windroseusa/assets/slide/slide1.webp',
                'https://charliebrownjs.github.io/windroseusa/assets/slide/slide2.webp',
                'https://charliebrownjs.github.io/windroseusa/assets/slide/slide3.webp',
                'https://charliebrownjs.github.io/windroseusa/assets/slide/slide4.webp',
                'https://charliebrownjs.github.io/windroseusa/assets/slide/slide5.webp'
            ];
            let currentIndex = 0;

            function changeImage() {
                currentIndex = (currentIndex + 1) % images.length; // Alterna entre os índices
                $('#slide').css('background-image', 'url(' + images[currentIndex] + ')');
            }

            setInterval(changeImage, 3000); // Muda a imagem a cada 2 segundos
            changeImage(); // Muda a imagem imediatamente ao carregar
        });
    </script>

</body>

</html>