<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Component</title>
    <link rel="stylesheet" href="/components/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
    <!-- Footer -->
    <div class="w-full min-h-screen pb-22"> <!-- page wrapper -->
        <div class="footer-container">
            <footer class="footer-wrapper">
                <div  class="cta-footer-wrapper">
                    <div data-aos="fade-up" class="cta-footer"
                        >
                        <div class="w-layout-grid grid-2-columns cta-footer-grid-2-col">
                            <div class="inner-container _468px _100-tablet">
                                <div class="inner-container _350px---mbl center">
                                    <h2 class="heading-h2-size extra-bold mg-bottom-0">Let us work <br>for you today!
                                    </h2>
                                </div>
                            </div>
                            <div class="buttons-row right center---tablet"
                                >
                                <a href="#" class="btn-primary black button-row w-button">Book Online<span
                                        class="line-rounded-icon link-icon-right" style="">&#x25B6;</span></a><a
                                    href="#" class="btn-secondary w-button">More about us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-[var(--secondary--color-1)] pt-[233px] pb-[76px] rounded-tl-[24px] rounded-tr-[24px]"
                    style="opacity: 1;">
                    <div class="w-layout-blockcontainer container-default position-relative w-container">
                        <div class="shape-wrapper footer-shape"><img src="/assets/wrusa-background.jpg" alt=""
                                class="shape footer-shape" style="opacity: 0.2;"></div>
                        <div class="z-index-1">
                            <div class="mg-bottom-54px">
                                <div class="w-layout-grid grid-3-columns menu-grid-3-col-wrapper">
                                    <div class="inner-container _356px _100-tablet"
                                        >
                                        <div class="inline-block mg-bottom-24px">
                                            <div class="heading-h3-size color-secondary-3">Menu</div>
                                        </div>
                                        <div class="w-layout-grid grid-2-columns menu-subgrid-2-col footer">
                                            <div>
                                                <ul role="list" class="menu-list-wrapper">
                                                    <li class="menu-list-item"><a href="#"
                                                            class="link color-neutral-300">Home (Sales)</a></li>
                                                    <li class="menu-list-item"><a href="#"
                                                            class="link color-neutral-300">Home </a></li>
                                                    <li class="menu-list-item"><a href="#"
                                                            class="link color-neutral-300">About us</a></li>
                                                    <li class="menu-list-item"><a href="#"
                                                            class="link color-neutral-300">Services</a></li>
                                                    <li class="menu-list-item"><a href="#"
                                                            class="link color-neutral-300">Our Process</a></li>
                                                    <li class="menu-list-item"><a href="#"
                                                            class="link color-neutral-300">Contact </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="inner-container _200px _100-mbp"
                                            >
                                            <div class="inline-block mg-bottom-24px">
                                                <div class="heading-h3-size color-secondary-3">Services</div>
                                            </div>
                                            <ul role="list" class="menu-list-wrapper">
                                                <li class="menu-list-item"><a href="#"
                                                        class="link color-neutral-300">Computer
                                                        Help</a></li>
                                                <li class="menu-list-item"><a href="#"
                                                        class="link color-neutral-300">Decoration</a></li>
                                                <li class="menu-list-item"><a href="#"
                                                        class="link color-neutral-300">Full
                                                        Service Help Moving</a></li>
                                                <li class="menu-list-item"><a href="#"
                                                        class="link color-neutral-300">Furniture
                                                        Assembly</a></li>
                                                <li class="menu-list-item"><a href="#"
                                                        class="link color-neutral-300">Help
                                                        Moving</a></li>
                                                <li class="menu-list-item"><a href="#"
                                                        class="link color-neutral-300">Smart
                                                        Home Installation</a></li>
                                                <li class="menu-list-item"><a href="#"
                                                        class="link color-neutral-300">Truck
                                                        Assisted Help Moving</a></li>
                                                <li class="menu-list-item"><a href="#"
                                                        class="link color-neutral-300">Yard
                                                        Work</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div
                                        >
                                        <div class="inline-block mg-bottom-24px">
                                            <div class="heading-h3-size color-secondary-3">Contact Us</div>
                                        </div>
                                        <div>
                                            <div class="mg-bottom-48px">
                                                <div class="mg-bottom-8px">
                                                    <div class="text-200 color-neutral-100">Phone</div>
                                                </div>
                                                <div class="display-4"><a href="tel:508-818-7518"
                                                        class="link bold color-neutral-100">(+1) 508-818-7518</a></div>
                                            </div>
                                            <div>
                                                <div class="mg-bottom-8px">
                                                    <div class="text-200 color-neutral-100">Email</div>
                                                </div>
                                                <div class="display-4"><a href="mailto:help@windroseusa.com"
                                                        class="link bold color-neutral-100">help@windroseusa.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-horizontal footer-bottom-flex" style="opacity: 1;"><a href="#"
                                    class="footer-logo-wrapper w-inline-block"><img
                                        src="/assets/WindroseUSA_logo_Transparent.png" class="footer-logo"></a>
                                <div class="color-neutral-100">
                                    <p class="text-100 mg-bottom-0">Copyright &copy; <a href="https://dxbr.cloud"
                                            target="_blank" class="link color-neutral-100">DXBR</a> | All Rights
                                        Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div> <!-- End Footer -->
    <!-- Importação do AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>

</html>