<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Header</title>
    <!-- Importação do Tailwind CSS -->
     <link href="/components/styles.css" rel="stylesheet">
  </head>

  <body>
    <div class="header-wrapper header-top w-nav">
      <div class="container-default w-container">
        <div class="header-top-wrapper">
          <div class="flex-horizontal space-between gap-16px">
            <div class="header-contact-info">
              <a
                href="mailto:help@windroseusa.com"
                class="link color-neutral-600 center w-inline-block"
                ><div class="inline-block mg-right-8px">
                  <div class="handyman-icon-font color-accent-1">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                      ></path>
                      <polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="inline-block">help@windroseusa.com</div></a
              >
              <div class="color-neutral-600 tablet_view">
                <div class="inline-block mg-right-8px">
                  <div class="line-rounded-icon font-size-20px color-accent-1">
                    
                  </div>
                </div>
                <div class="inline-block">
                  S Andrews Ave, Fort Lauderdale, FL
                </div>
              </div>
            </div>
            <div class="w-layout-hflex social-media-flex">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="social-icon-square w-inline-block"
                ><div class="social-icon-font"><svg fill="#4b5050" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50"  class="icon icons8-Facebook-Filled" >    <path d="M40,0H10C4.486,0,0,4.486,0,10v30c0,5.514,4.486,10,10,10h30c5.514,0,10-4.486,10-10V10C50,4.486,45.514,0,40,0z M39,17h-3 c-2.145,0-3,0.504-3,2v3h6l-1,6h-5v20h-7V28h-3v-6h3v-3c0-4.677,1.581-8,7-8c2.902,0,6,1,6,1V17z"></path></svg></div></a
              ><a
                href="https://www.instagram.com/"
                target="_blank"
                class="social-icon-square w-inline-block"
                ><div class="social-icon-font"><svg id="instagram" fill="#4b5050" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;"
                                  xml:space="preserve">
                                    <g>
                                      <path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752
                                                            c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407
                                                            c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752
                                                            c17.455,0,31.656,14.201,31.656,31.655V122.407z" />
                                      <path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561
                                                            C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561
                                                            c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z" />
                                      <path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78
                                                            c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78
                                                            C135.661,29.421,132.821,28.251,129.921,28.251z" />
                                    </g>
                                  </svg></div></a
              >
            </div>
          </div>
        </div>

        <div class="header-content-wrapper header-top">
          <div class="header-left-side flex-growth-tablet">
            <a
              href="/"
              aria-current="page"
              class="header-logo-link w-nav-brand w--current"
              aria-label="home"
              ><img
                src="https://charliebrownjs.github.io/windroseusa/assets/WindroseUSA_logo_original.png"
                alt="Logo - WindroseUSA"
                class="header-logo"
            /></a>
            <nav role="navigation" class="header-nav-menu-wrapper w-nav-menu">
              <ul role="list" class="header-nav-menu-list tablet_view">
                <li class="header-nav-list-item">
                  <a
                    href="#"
                    class="header-nav-link w-nav-link"
                    style="max-width: 1268px"
                    >Home</a
                  >
                </li>
                <li class="header-nav-list-item">
                  <a
                    href="#About-Section"
                    class="header-nav-link w-nav-link"
                    style="max-width: 1268px"
                    >About</a
                  >
                </li>
                <li class="header-nav-list-item">
                  <a
                    href="#Services-Section"
                    class="header-nav-link w-nav-link"
                    style="max-width: 1268px"
                    >Services</a
                  >
                </li>
                <li class="header-nav-list-item show-in-tablet header-btn">
                  <a
                    href="#"
                    class="btn-primary small width-100 w-button"
                    >Book Online<span class="line-rounded-icon link-icon-right"
                      ></span
                    ></a
                  >
                </li>
              </ul>
            </nav>
            <div class="mg-left-auto-tablet"></div>
          </div>
          <div class="header-right-side">
            <div>
              <div class="badge-top-wrapper"><div
                class=" font-size-24px color-secondary-1"
              >
                
              </div> <a href="tel:5088187518">
                <div class="badge-top line-rounded-icon"> (508) 818-7518</div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-nav-overlay" data-wf-ignore=""></div>
    </div>
  </body>
</html>
