<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Minha Landing Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" href="/components/styles.css" />
    <style>
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }

      .pulse-animation {
        animation: pulse 0.5s ease-in-out;
        animation-iteration-count: 1;
      }
    </style>
    <style>
      :root {
        --btn-ra-width: 250px;
        --btn-ra-height: 80px;
        --btn-ra-color: #101223;
        --btn-ra-color-dark: #ffce51;
        --btn-ra-color-tint: #fff;
      }

      a {
        text-decoration: none;
      }

      .centerer {
        width: 50%;
        max-width: 600px;
        margin-left: 0;
        margin-right: auto;
        padding: 0 0rem;
      }

      .centerer-flex {
        display: flex;
        justify-content: start;
        align-items: start;
      }

      .btn-ra-footer {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        max-width: var(--btn-ra-width);
        height: var(--btn-ra-height);
        margin: 1rem auto;
        text-align: center;
        border: 1px solid currentColor;
        color: var(--btn-ra-color);
        border-radius: 16px;
        line-height: var(--btn-ra-height);
      }

      .btn-ra-footer span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: var(--btn-ra-color);
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      .btn-ra-footer:hover {
        color: var(--btn-ra-color-tint);
        border-color: var(--btn-ra-color-dark);
      }

      .btn-ra-footer:hover span {
        width: 225%;
        height: calc(var(--btn-ra-width) * 2.25);
      }

      .btn-ra-footer:active {
        background-color: var(--btn-ra-color);
      }

      .btn-ra-6 {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        max-width: var(--btn-ra-width);
        height: var(--btn-ra-height);
        margin: 1rem auto;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid currentColor;
        color: var(--btn-ra-color-tint);
        border-radius: 16px;
        line-height: var(--btn-ra-height);
      }

      .btn-ra-6 span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: var(--btn-ra-color-dark);
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      .btn-ra-6:hover {
        color: var(--btn-ra-color);
      }

      .btn-ra-6:hover span {
        width: 225%;
        height: calc(var(--btn-ra-width) * 2.25);
      }

      .btn-ra-6:active {
        background-color: var(--btn-ra-color);
      }
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="header-wrapper header-top w-nav">
        <div class="container-default w-container">
          <div class="header-top-wrapper">
            <div class="flex-horizontal space-between gap-16px">
              <div class="header-contact-info">
                <a
                  href="mailto:help@windroseusa.com"
                  class="link color-neutral-600 center w-inline-block"
                  ><div class="inline-block mg-right-8px">
                    <div class="handyman-icon-font color-accent-1">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                        ></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                      </svg>
                    </div>
                  </div>
                  <div class="inline-block">help@windroseusa.com</div></a
                >
                <div class="color-neutral-600 tablet_view">
                  <div class="inline-block mg-right-8px">
                    <div
                      class="line-rounded-icon font-size-20px color-accent-1"
                    >
                      
                    </div>
                  </div>
                  <div class="inline-block">
                    S Andrews Ave, Fort Lauderdale, FL
                  </div>
                </div>
              </div>
              <div class="w-layout-hflex social-media-flex">
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  class="social-icon-square w-inline-block"
                  ><div class="social-icon-font">f</div></a
                ><a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="social-icon-square w-inline-block"
                  ><div class="social-icon-font">c</div></a
                >
              </div>
            </div>
          </div>

          <div class="header-content-wrapper header-top">
            <div class="header-left-side flex-growth-tablet">
              <a
                href="/"
                aria-current="page"
                class="header-logo-link w-nav-brand w--current"
                aria-label="home"
                ><img
                  src="https://charliebrownjs.github.io/windroseusa/assets/WindroseUSA_logo_original.png"
                  alt="Logo - WindroseUSA"
                  class="header-logo"
              /></a>
              <nav role="navigation" class="header-nav-menu-wrapper w-nav-menu">
                <ul role="list" class="header-nav-menu-list tablet_view">
                  <li class="header-nav-list-item">
                    <a
                      href="/home-pages/home-v1"
                      class="header-nav-link w-nav-link"
                      style="max-width: 1268px"
                      >Home</a
                    >
                  </li>
                  <li class="header-nav-list-item">
                    <a
                      href="/about"
                      class="header-nav-link w-nav-link"
                      style="max-width: 1268px"
                      >About</a
                    >
                  </li>
                  <li class="header-nav-list-item">
                    <a
                      href="/services"
                      class="header-nav-link w-nav-link"
                      style="max-width: 1268px"
                      >Services</a
                    >
                  </li>
                  <li class="header-nav-list-item show-in-tablet header-btn">
                    <a
                      href="/contact-pages/contact-v1"
                      class="btn-primary small width-100 w-button"
                      >Book Online<span
                        class="line-rounded-icon link-icon-right"
                        ></span
                      ></a
                    >
                  </li>
                </ul>
              </nav>
              <div class="mg-left-auto-tablet"></div>
            </div>
            <div class="header-right-side">
              <div>
                <div class="badge-top-wrapper">
                  <div class="font-size-24px color-secondary-1"></div>
                  <a href="tel:5088187518">
                    <div class="badge-top line-rounded-icon">
                       (508) 818-7518
                    </div></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-nav-overlay" data-wf-ignore=""></div>
      </div>
      <!-- hero section -->
      <section class="section hero v3">
        <!-- hero section -->
        <div
          style="opacity: 1"
          class="inner---section big-size inner-section-home-v3"
        >
          <div class="w-layout-blockcontainer container-default w-container">
            <div class="z-index-1">
              <div class="w-layout-vflex flex-vertical">
                <div class="inner-container _650px">
                  <div class="inner-container _600px---tablet">
                    <div class="inner-container _500px---mbl">
                      <div class="inner-container _600px---tablet">
                        <div class="inner-container _450px---mbl">
                          <div class="inner-container _350px---mbp">
                            <h1
                              class="display-1 color-neutral-100 mg-bottom-26px"
                            >
                              Professional and reliable services
                            </h1>
                          </div>
                        </div>
                      </div>
                      <div class="inner-container _590px _100-tablet">
                        <p class="color-neutral-100 mg-bottom-40px">
                          No matter the size or complexity of the project, we’re
                          committed to giving it our very best.
                          <span class="text-no-wrap"></span>
                        </p>
                      </div>
                      <div
                        style="
                          transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                            rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                            skew(0deg, 0deg);
                          opacity: 1;
                          transform-style: preserve-3d;
                        "
                        class="buttons-row"
                      >
                        <div class="centerer">
                          <a class="btn-ra-6" href="#"
                            >Book online<span></span
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="inner---bg-section">
            <div class="position-relative _w-h-100">
              <img
                src="#"
                alt="WindroseUSA"
                sizes="(max-width: 1439px) 100vw, 1395px"
                srcset="
                  https://charliebrownjs.github.io/windroseusa/assets/hero_windroseusa_500.png   500w,
                  https://charliebrownjs.github.io/windroseusa/assets/hero_windroseusa_800.png   800w,
                  https://charliebrownjs.github.io/windroseusa/assets/hero_windroseusa_1080.png 1080w,
                  https://charliebrownjs.github.io/windroseusa/assets/hero_windroseusa_1600.png 1600w,
                  https://charliebrownjs.github.io/windroseusa/assets/hero_windroseusa_2788.png 2788w
                "
                class="fit-cover _w-h-100"
              />
              <div class="inner---section-bg-shadow black v1"></div>
            </div>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="w-layout-blockcontainer container-default w-container"
        >
          <div class="pd-left-right-24px pd-left---right-0---tablet">
            <div style="opacity: 1" class="card home-v3-stat-card">
              <div class="w-layout-grid grid-4-columns hero-v3-stat">
                <div class="w-layout-vflex flex-vertical center text-center">
                  <div data-count="815" class="counter display-3 mg-bottom-4px">
                    0
                  </div>
                  <div class="text-200">Five-stars Reviews</div>
                </div>
                <div class="w-layout-vflex flex-vertical center text-center">
                  <div
                    data-count="1200"
                    class="counter display-3 mg-bottom-4px"
                  >
                    1.2 K
                  </div>
                  <div class="text-200">Completed Projects</div>
                </div>
                <div class="w-layout-vflex flex-vertical center text-center">
                  <div
                    data-count="10400"
                    class="counter display-3 mg-bottom-4px"
                  >
                    0
                  </div>
                  <div class="text-200">Hours of work</div>
                </div>
                <div class="w-layout-vflex flex-vertical center text-center">
                  <div data-count="20" class="counter display-3 mg-bottom-4px">
                    0
                  </div>
                  <div class="text-200">Years of experience</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about section -->
      <section class="section pd-bottom-0px">
        <!-- section -->
        <div class="w-layout-blockcontainer container-default w-container">
          <div>
            <div class="mg-bottom-32px mg-bottom-32px---mbl">
              <!-- container bg-red-400 -->
              <div
                class="w-layout-hflex flex-horizontal space-between center---tablet"
              >
                <div class="inner-container _490px bg">
                  <div class="inner-container _400px---mbl">
                    <div
                      data-aos="fade-up"
                      data-aos-delay="10"
                      class="badge-top-wrapper"
                    >
                      <div class="badge-top">About</div>
                    </div>
                    <h2
                      data-aos="fade-up"
                      data-aos-delay="200"
                      class="heading-h2-size extra-bold mg-bottom-0"
                    >
                      Over 18+ years experience assembling hundreds of different
                      products.
                    </h2>
                  </div>
                </div>
                <a
                  href="#"
                  data-aos="fade-up"
                  data-aos-delay="300"
                  class="btn-secondary align-self-bottom center---tablet w-button"
                  >About us<span
                    class="line-rounded-icon link-icon-right"
                    style="
                      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
                    ></span
                  >
                </a>
              </div>
            </div>
            <div class="w-layout-layout grid-gallery wf-layout-layout">
              <div
                data-aos="fade-right"
                data-aos-delay="100"
                id="w-node-_2dcc60f8-8d7e-ac7c-3148-535f0de71c96-6dd935f1"
                class="w-layout-cell"
              >
                <div class="figure _w-h-100">
                  <img
                    alt="Gallery WindroseUSA"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 1439px) 95vw, 1220px"
                    srcset="
                      https://charliebrownjs.github.io/windroseusa/assets/services/port-fitness.jpeg 500w,
                      https://charliebrownjs.github.io/windroseusa/assets/services/port-fitness.jpeg 768w
                    "
                    class="fit-cover _w-h-100"
                  />
                </div>
              </div>
              <div
                data-aos="fade-left"
                data-aos-delay="200"
                id="w-node-_2dcc60f8-8d7e-ac7c-3148-535f0de71c97-6dd935f1"
                class="w-layout-cell"
              >
                <div class="figure _w-h-100">
                  <img
                    alt="Gallery WindroseUSA"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 1439px) 95vw, 1220px"
                    srcset="
                      https://charliebrownjs.github.io/windroseusa/assets/services/squat-assemb.jpeg 500w,
                      https://charliebrownjs.github.io/windroseusa/assets/services/squat-assemb.jpeg 764w
                    "
                    class="fit-cover _w-h-100"
                  />
                </div>
              </div>
              <div
                data-aos="fade-left"
                data-aos-delay="300"
                id="w-node-_43f400a6-dbf0-4112-399a-9bd4bfdc4f0c-6dd935f1"
                class="w-layout-cell"
              >
                <div class="figure _w-h-100">
                  <img
                    alt="Gallery WindroseUSA"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 1439px) 95vw, 1220px"
                    srcset="
                      https://charliebrownjs.github.io/windroseusa/assets/services/squat-assemb2.jpeg 500w,
                      https://charliebrownjs.github.io/windroseusa/assets/services/squat-assemb2.jpeg 764w
                    "
                    class="fit-cover _w-h-100"
                  />
                </div>
              </div>
              <div
                data-aos="fade-up"
                data-aos-delay="400"
                id="w-node-_3d081ca7-9bb4-869e-4ac9-f77e5f8aaa23-6dd935f1"
                class="w-layout-cell"
              >
                <div class="figure _w-h-100">
                  <img
                    alt="Gallery WindroseUSA"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 1439px) 95vw, 1220px"
                    srcset="
                      https://charliebrownjs.github.io/windroseusa/assets/services/lands-assemb.jpeg  500w,
                      https://charliebrownjs.github.io/windroseusa/assets/services/lands-assemb.jpeg  800w,
                      https://charliebrownjs.github.io/windroseusa/assets/services/lands-assemb.jpeg 1080w
                    "
                    class="fit-cover _w-h-100"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section services -->
      <section style="background-color: #fff" class="section pd-0px">
        <div class="inner---section big-size inner-section-services">
          <div class="half-bg-top half-bg-why-us">
            <div class="bg-floating why-us"></div>
          </div>
          <div class="container-default">
            <div>
              <div class="mg-bottom-40px">
                <div class="w-layout-vflex flex-vertical center text-center">
                  <div class="badge-top-wrapper">
                    <div class="badge-top">Services</div>
                  </div>
                  <div class="inner-container _402px center">
                    <div class="inner-container _350px---tablet center">
                      <div class="inner-container _250px---mbl">
                        <h2 class="heading-h2-size extra-bold mg-bottom-4px">
                          Most Popular
                          <span class="text-no-wrap">Services</span>
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div class="inner-container _504px center">
                    <div class="inner-container _450px---mbl">
                      <p class="mg-bottom-0">
                        Services available for a minimum of 2 hours.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div class="grid-2-columns">
                  <div class="container-default" role="tablist">
                    <div>
                      <a
                        data-aos="zoom-out"
                        id="smart-home-button"
                        class="tab-left-icon w-inline-block w-tab-link"
                        href="#"
                        role="tab"
                        aria-controls="w-tabs-0-data-w-pane-0"
                        aria-selected="true"
                      >
                        <div class="mg-right-16px">
                          <div class="flex-vertical center">
                            <!-- Carrega a imagem estática inicialmente -->
                            <img
                              id="smart-home-icon"
                              alt="Smart Home Icon"
                              src="/assets/gif/smart-home-static.png"
                              class="image-size"
                              width="85px"
                            />
                          </div>
                        </div>
                        <div>
                          <div>Smart Home Services</div>
                          <p
                            style="
                              font-weight: 300;
                              font-size: 12px;
                              max-width: 300px;
                              margin-top: 0px;
                              line-height: 1.4;
                            "
                            class="subserbutton"
                          >
                            Offering efficient smart home installations,
                            including Ring Doorbells, cameras, smart lights,
                            WiFi speakers, SONOS, Google Home, Alexa, and more.
                          </p>
                        </div>
                      </a>
                    </div>
                    <div>
                      <a
                        data-aos="zoom-out"
                        id="furniture-assembly-button"
                        class="tab-left-icon w-inline-block w-tab-link"
                        href="#"
                        role="tab"
                        aria-controls="w-tabs-0-data-w-pane-0"
                        aria-selected="true"
                      >
                        <div class="mg-right-16px">
                          <div class="flex-vertical center">
                            <!-- Carrega a imagem estática inicialmente -->
                            <img
                              id="furniture-assembly-icon"
                              alt="Furniture Assembly Icon"
                              src="/assets/gif/furniture-static.png"
                              class="image-size"
                              width="85px"
                            />
                          </div>
                        </div>
                        <div>
                          <div>Furniture Assembly</div>
                          <p
                            style="
                              font-weight: 300;
                              font-size: 12px;
                              max-width: 300px;
                              margin-top: 0px;
                              line-height: 1.4;
                            "
                            class="subserbutton"
                          >
                            Our furniture assembly professionals have the
                            experience and tools needed to assemble your
                            furniture quickly and inexpensively.
                          </p>
                        </div>
                      </a>
                    </div>
                    <!--  first tab -->
                    <!-- second tab -->
                    <div>
                      <a
                        data-aos="zoom-out"
                        id="computer-help-button"
                        class="tab-left-icon w-inline-block w-tab-link"
                        href="#"
                        role="tab"
                        aria-controls="w-tabs-0-data-w-pane-1"
                        aria-selected="false"
                      >
                        <div class="mg-right-16px">
                          <div class="flex-vertical center">
                            <!-- Carrega a imagem estática inicialmente -->
                            <img
                              id="computer-help-icon"
                              alt="computer-help Icon"
                              src="/assets/gif/computer-help-static.png"
                              class="image-size"
                              width="85px"
                            />
                          </div>
                        </div>
                        <div>
                          <div>IT Services / Network</div>
                          <p
                            style="
                              font-weight: 300;
                              font-size: 12px;
                              max-width: 300px;
                              margin-top: 0px;
                              line-height: 1.4;
                            "
                            class="subserbutton"
                          >
                            Our IT support service offers many benefits designed
                            to free you from the necessary but time-consuming
                            tasks of setting up your own IT.
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- third tab -->
                  <div class="container-default" role="tablist">
                    <div>
                      <a
                        data-aos="zoom-out"
                        data-aos-delay="200"
                        id="decoration-button"
                        class="tab-left-icon w-inline-block w-tab-link"
                        href="#"
                        role="tab"
                        aria-controls="w-tabs-0-data-w-pane-0"
                        aria-selected="true"
                      >
                        <div class="mg-right-16px">
                          <div class="flex-vertical center">
                            <!-- Carrega a imagem estática inicialmente -->
                            <img
                              id="decoration-icon"
                              alt="decoration Icon"
                              src="/assets/gif/decoration-static.png"
                              class="image-size"
                              width="85px"
                            />
                          </div>
                        </div>
                        <div>
                          <div>Decoration</div>
                          <p
                            style="
                              font-weight: 300;
                              font-size: 12px;
                              max-width: 300px;
                              margin-top: 0px;
                              line-height: 1.4;
                            "
                            class="subserbutton"
                          >
                            Providing ladders and other equipment, I deliver
                            agile, high-quality event decoration services for
                            special occasions.
                          </p>
                        </div>
                      </a>
                    </div>
                    <!-- fourth tab -->
                    <div>
                      <a
                        data-aos="zoom-out"
                        data-aos-delay="200"
                        id="gutter-cleaning-button"
                        class="tab-left-icon w-inline-block w-tab-link"
                        href="#"
                        role="tab"
                        aria-controls="w-tabs-0-data-w-pane-0"
                        aria-selected="true"
                      >
                        <div class="mg-right-16px">
                          <div class="flex-vertical center">
                            <!-- Carrega a imagem estática inicialmente -->
                            <img
                              id="gutter-cleaning-icon"
                              alt="Gutter Cleaning Icon"
                              src="/assets/gif/gutter-cleaning-static.png"
                              class="image-size"
                              width="85px"
                            />
                          </div>
                        </div>
                        <div>
                          <div>Gutter Cleaning</div>
                          <p
                            style="
                              font-weight: 300;
                              font-size: 12px;
                              max-width: 300px;
                              margin-top: 0px;
                              line-height: 1.4;
                            "
                            class="subserbutton"
                          >
                            To ensure water properly runs away from your home,
                            we do all the dirty work so you don't have to.
                          </p>
                        </div>
                      </a>
                    </div>
                    <!-- fifth tab -->
                    <div>
                      <a
                        data-aos="zoom-out"
                        data-aos-delay="200"
                        id="moving-help-button"
                        class="tab-left-icon w-inline-block w-tab-link"
                        href="#"
                        role="tab"
                        aria-controls="w-tabs-0-data-w-pane-0"
                        aria-selected="true"
                      >
                        <div class="mg-right-16px">
                          <div class="flex-vertical center">
                            <!-- Carrega a imagem estática inicialmente -->

                            <img
                              id="moving-help-icon"
                              alt="Moving Help Icon"
                              src="/assets/gif/moving-help-static.png"
                              class="image-size"
                              width="85px"
                            />
                          </div>
                        </div>
                        <div>
                          <div>Help Moving</div>
                          <p
                            style="
                              font-weight: 300;
                              font-size: 12px;
                              max-width: 300px;
                              margin-top: 0px;
                              line-height: 1.4;
                            "
                            class="subserbutton"
                          >
                            Moving locally has never been easier. Full and
                            partial packing services are available to help pack
                            all your belongings or just a portion of your items.
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- sixth tab -->
                <div class="mg-top-40px">
                  <div class="w-layout-hflex flex-horizontal">
                    <a href="/services" class="btn-primary w-button"
                      >Our services<span
                        class="line-rounded-icon link-icon-right"
                        ></span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- container -->
          </div>
        </div>
      </section>
      <!-- section process -->
      <section class="section overflow-hidden">
        <!-- section -->
        <div class="w-layout-blockcontainer container-default w-container">
          <div class="z-index-1">
            <div class="mg-bottom-26px mg-bottom-26px---mbl">
              <div>
                <div
                  class="w-layout-hflex flex-horizontal space-between center---tablet"
                >
                  <div class="inner-container _554px">
                    <div class="inner-container _500px---tablet">
                      <div class="inner-container _400px---mbl center">
                        <div class="inner-container _350px---mbl center">
                          <div
                            data-aos="fade-up"
                            data-aos-delay="10"
                            class="badge-top-wrapper"
                          >
                            <div class="badge-top">Our Process</div>
                          </div>
                          <h2
                            data-aos="fade-up"
                            data-aos-delay="200"
                            class="heading-h2-size extra-bold mg-bottom-0"
                          >
                            Our process is as simple as just picking
                            <span class="text-no-wrap">the phone</span>
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a
                    data-aos="fade-up"
                    data-aos-delay="300"
                    href="/contact-pages/contact-v1"
                    class="btn-secondary bg-white center---tablet w-button"
                    >Book online<span class="line-rounded-icon link-icon-right"
                      ></span
                    ></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position-relative">
          <div
            class="w-layout-blockcontainer container-default z-index-1 w-container"
          >
            <div
              style="
                border-radius: 24px;
                padding: 24px 24px 24px 24px;
                background-color: #ffce51;
              "
            >
              <div class="w-layout-grid grid-3-columns">
                <div
                  data-aos="zoom-in"
                  data-aos-delay="100"
                  class="card icon-top-card-v2"
                >
                  <div class="pd-36px---34px">
                    <div class="mg-bottom-24px">
                      <img
                        src="https://charliebrownjs.github.io/windroseusa/assets/icons/book-icon.svg"
                        alt="Windroseusa"
                        class="image-size _86px"
                      />
                    </div>
                    <h3 class="heading-h3-size mg-bottom-4px">
                      Get in touch <span class="text-no-wrap">with us</span>
                    </h3>
                    <div class="inner-container _500px---tablet center">
                      <p class="mg-bottom-0 color-neutral-800">
                        Proin et convallis tincidunt tincidunt. Viverra ut
                        ullamcorp faucibus dictum. Integer in
                        <span class="text-no-wrap">egestas volutpat.</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  data-aos="zoom-in"
                  data-aos-delay="750"
                  class="card icon-top-card-v2"
                >
                  <div class="pd-36px---34px">
                    <div class="mg-bottom-24px">
                      <img
                        src="https://charliebrownjs.github.io/windroseusa/assets/icons/arrive-in-1hr-icon.svg"
                        alt="Windroseusa"
                        class="image-size _86px"
                      />
                    </div>
                    <h3 class="heading-h3-size mg-bottom-4px">
                      We arrive within <span class="text-no-wrap">1 Hour</span>
                    </h3>
                    <div class="inner-container _500px---tablet center">
                      <p class="mg-bottom-0 color-neutral-800">
                        Proin et convallis tincidunt tincidunt. Viverra ut
                        ullamcorp faucibus dictum. Integer in
                        <span class="text-no-wrap">egestas volutpat.</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  data-aos="zoom-in"
                  data-aos-delay="1500"
                  class="card icon-top-card-v2 last"
                >
                  <div class="pd-36px---34px">
                    <div class="mg-bottom-24px">
                      <img
                        src="https://charliebrownjs.github.io/windroseusa/assets/icons/solve-your-problem-icon.svg"
                        alt="Windroseusa"
                        class="image-size _86px"
                      />
                    </div>
                    <h3 class="heading-h3-size mg-bottom-4px">
                      We solve <span class="text-no-wrap">your problem</span>
                    </h3>
                    <div class="inner-container _500px---tablet center">
                      <p class="mg-bottom-0 color-neutral-800">
                        Proin et convallis tincidunt tincidunt. Viverra ut
                        ullamcorp faucibus dictum. Integer in
                        <span class="text-no-wrap">egestas volutpat.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="shape-wrapper our-process-shape-wrapper">
            <img
              src="https://charliebrownjs.github.io/windroseusa/assets/iteration-process.webp"
              alt=""
              style="opacity: 0.04"
              data-w-id="7ee5f11b-def7-8fdf-c269-144629956fd2"
              class="shape our-process-shape"
            />
          </div>
        </div>
      </section>
      <!-- footer section -->
      <div class="footer-container">
        <footer class="footer-wrapper">
          <div class="cta-footer-wrapper">
            <div data-aos="zoom-out" class="cta-footer">
              <div class="w-layout-grid grid-2-columns cta-footer-grid-2-col">
                <div class="inner-container _468px _100-tablet">
                  <div class="inner-container _350px---mbl center">
                    <h2 class="heading-h2-size extra-bold mg-bottom-0">
                      Let us work <br />for you today!
                    </h2>
                  </div>
                </div>
                <div class="buttons-row right center---tablet">
                  <a class="btn-ra-footer" href="#">Book online<span></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="inner---section big-size footer" style="opacity: 1">
            <div
              class="w-layout-blockcontainer container-default position-relative w-container"
            >
              <div class="shape-wrapper footer-shape">
                <img
                  src="https://charliebrownjs.github.io/windroseusa/assets/wrusa-background.jpg"
                  alt=""
                  class="shape footer-shape"
                  style="opacity: 0.2"
                />
              </div>
              <div class="z-index-1">
                <div class="mg-bottom-54px">
                  <div
                    class="w-layout-grid grid-3-columns menu-grid-3-col-wrapper"
                  >
                    <div class="inner-container _356px _100-tablet">
                      <div class="inline-block mg-bottom-24px">
                        <div class="heading-h3-size color-secondary-3">
                          Menu
                        </div>
                      </div>
                      <div
                        class="w-layout-grid grid-2-columns menu-subgrid-2-col footer"
                      >
                        <div>
                          <ul role="list" class="menu-list-wrapper">
                            <li class="menu-list-item">
                              <a href="#header" class="link color-neutral-300"
                                >Home (Sales)</a
                              >
                            </li>
                            <li class="menu-list-item">
                              <a href="#header" class="link color-neutral-300"
                                >Home
                              </a>
                            </li>
                            <li class="menu-list-item">
                              <a href="#" class="link color-neutral-300"
                                >About us</a
                              >
                            </li>
                            <li class="menu-list-item">
                              <a href="#" class="link color-neutral-300"
                                >Services</a
                              >
                            </li>
                            <li class="menu-list-item">
                              <a href="#" class="link color-neutral-300"
                                >Our Process</a
                              >
                            </li>
                            <li class="menu-list-item">
                              <a href="#" class="link color-neutral-300"
                                >Contact
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="inner-container _200px _100-mbp">
                        <div class="inline-block mg-bottom-24px">
                          <div class="heading-h3-size color-secondary-3">
                            Services
                          </div>
                        </div>
                        <ul role="list" class="menu-list-wrapper">
                          <li class="menu-list-item">
                            <a href="#" class="link color-neutral-300"
                              >Computer Help</a
                            >
                          </li>
                          <li class="menu-list-item">
                            <a href="#" class="link color-neutral-300"
                              >Decoration</a
                            >
                          </li>
                          <li class="menu-list-item">
                            <a href="#" class="link color-neutral-300"
                              >Full Service Help Moving</a
                            >
                          </li>
                          <li class="menu-list-item">
                            <a href="#" class="link color-neutral-300"
                              >Furniture Assembly</a
                            >
                          </li>
                          <li class="menu-list-item">
                            <a href="#" class="link color-neutral-300"
                              >Help Moving</a
                            >
                          </li>
                          <li class="menu-list-item">
                            <a href="#" class="link color-neutral-300"
                              >Smart Home Installation</a
                            >
                          </li>
                          <li class="menu-list-item">
                            <a href="#" class="link color-neutral-300"
                              >Truck Assisted Help Moving</a
                            >
                          </li>
                          <li class="menu-list-item">
                            <a href="#" class="link color-neutral-300"
                              >Yard Work</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <div class="inline-block mg-bottom-24px">
                        <div class="heading-h3-size color-secondary-3">
                          Contact Us
                        </div>
                      </div>
                      <div>
                        <div class="mg-bottom-48px">
                          <div class="mg-bottom-8px">
                            <div class="text-200 color-neutral-100">Phone</div>
                          </div>
                          <div class="display-4">
                            <a
                              href="tel:508-818-7518"
                              class="link bold color-neutral-100"
                              >(+1) 508-818-7518</a
                            >
                          </div>
                        </div>
                        <div>
                          <div class="mg-bottom-8px">
                            <div class="text-200 color-neutral-100">Email</div>
                          </div>
                          <div class="display-4">
                            <a
                              href="mailto:help@windroseusa.com"
                              class="link bold color-neutral-100"
                              >help@windroseusa.com</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex-horizontal footer-bottom-flex"
                  style="opacity: 1"
                >
                  <a href="#" class="footer-logo-wrapper w-inline-block"
                    ><img
                      src="https://charliebrownjs.github.io/windroseusa/assets/WindroseUSA_logo_Transparent.png"
                      class="footer-logo"
                  /></a>
                  <div class="color-neutral-100">
                    <p class="text-100 mg-bottom-0">
                      Copyright ₢ 2024 &copy;
                      <a
                        href="https://dxbr.cloud"
                        target="_blank"
                        class="link color-neutral-100"
                        >WindroseUSA</a
                      >
                      | All Rights Reserved
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>

      <!--  <script>
        $(document).ready(function() {
            $("#header").load("header.html");
            $("#hero").load("hero-section.html");
            $("#about").load("section-about.html");
            $("#services").load("section-services01.html");
            $("#process").load("section-process.html");
            $("#footer").load("footer.html");
        });
    </script>  -->
      <!-- Importação do AOS -->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
      <!-- script services icon animation -->
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const services = [
            {
              buttonId: "furniture-assembly-button",
              iconId: "furniture-assembly-icon",
              staticSrc: "/assets/gif/furniture-static.png",
              gifSrc: "/assets/gif/furniture-anim.gif",
            },
            {
              buttonId: "computer-help-button",
              iconId: "computer-help-icon",
              staticSrc: "/assets/gif/computer-help-static.png",
              gifSrc: "/assets/gif/computer-help-anim.gif",
            },
            {
              buttonId: "decoration-button",
              iconId: "decoration-icon",
              staticSrc: "/assets/gif/decoration-static.png",
              gifSrc: "/assets/gif/decoration-anim.gif",
            },
            {
              buttonId: "gutter-cleaning-button",
              iconId: "gutter-cleaning-icon",
              staticSrc: "/assets/gif/gutter-cleaning-static.png",
              gifSrc: "/assets/gif/gutter-cleaning-anim.gif",
            },
            {
              buttonId: "moving-help-button",
              iconId: "moving-help-icon",
              staticSrc: "/assets/gif/moving-help-static.png",
              gifSrc: "/assets/gif/moving-help-anim.gif",
            },
            {
              buttonId: "smart-home-button",
              iconId: "smart-home-icon",
              staticSrc: "/assets/gif/smart-home-static.png",
              gifSrc: "/assets/gif/smart-home-anim.gif",
            },
            // Adicione outras entradas aqui para os demais ícones
          ];

          function setHoverEffect({ buttonId, iconId, staticSrc, gifSrc }) {
            const button = document.getElementById(buttonId);
            const icon = document.getElementById(iconId);

            button.addEventListener("mouseenter", function () {
              if (icon.src !== window.location.origin + gifSrc) {
                icon.src = gifSrc;
                icon.classList.add("pulse-animation");
              }
            });

            button.addEventListener("mouseleave", function () {
              if (icon.src !== window.location.origin + staticSrc) {
                icon.src = staticSrc;
                icon.classList.remove("pulse-animation");
              }
            });
          }

          // Aplicar o efeito de hover para cada serviço
          services.forEach(setHoverEffect);
        });
      </script>
      <!-- script counter -->
      <script>
        $(document).ready(function () {
          // Seleciona todos os elementos com a classe 'counter' e os armazena em um array
          var counters = $(".counter").toArray();

          // Ordena os counters com base no atributo data-count em ordem decrescente
          counters.sort(function (a, b) {
            return $(b).attr("data-count") - $(a).attr("data-count");
          });

          // Função para iniciar a animação
          function startAnimation($element, countTo, index) {
            setTimeout(function () {
              $({ countNum: $element.text() }).animate(
                {
                  countNum: countTo,
                },
                {
                  duration: 3000,
                  easing: "linear",
                  step: function () {
                    $element.text(Math.floor(this.countNum));
                  },
                  complete: function () {
                    $element.text(this.countNum);
                  },
                }
              );
            }, index * 200); // Atraso de 200 ms entre as animações
          }

          // Configura o IntersectionObserver para detectar quando os elementos entram na viewport
          let observer = new IntersectionObserver(
            (entries, observer) => {
              entries.forEach((entry) => {
                if (entry.isIntersecting) {
                  let $element = $(entry.target),
                    countTo = $element.attr("data-count");

                  // Inicia a animação quando o elemento está na viewport
                  startAnimation(
                    $element,
                    countTo,
                    counters.indexOf(entry.target)
                  );

                  // Desconecta o observer para evitar múltiplas animações
                  observer.unobserve(entry.target);
                }
              });
            },
            { threshold: 0.5 }
          ); // threshold define 50% do elemento visível

          // Observa cada contador individualmente
          counters.forEach((counter) => observer.observe(counter));
        });
      </script>
      <!-- animated footer button -->
      <script>
        $(function () {
          $(".btn-ra-footer")
            .on("mouseenter", function (e) {
              var parentOffset = $(this).offset(),
                relX = e.pageX - parentOffset.left,
                relY = e.pageY - parentOffset.top;
              $(this).find("span").css({ top: relY, left: relX });
            })
            .on("mouseout", function (e) {
              var parentOffset = $(this).offset(),
                relX = e.pageX - parentOffset.left,
                relY = e.pageY - parentOffset.top;
              $(this).find("span").css({ top: relY, left: relX });
            });
        });
      </script>
    </div>
  </body>
</html>
