<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Process</title>
    <link rel="stylesheet" href="/components/styles.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

   <!--  <script src="https://cdn.tailwindcss.com"></script>  -->
</head>
<body>
    <section class="section overflow-hidden">
        <div class="w-layout-blockcontainer container-default w-container">
            <div class="z-index-1">
                <div class="mg-bottom-26px mg-bottom-26px---mbl">
                    <div>
                        <div class="w-layout-hflex flex-horizontal space-between center---tablet">
                            <div class="inner-container _554px">
                                <div class="inner-container _500px---tablet">
                                    <div class="inner-container _400px---mbl center">
                                        <div class="inner-container _350px---mbl center">
                                            <div class="mg-bottom-8px">
                                                <div data-aos="fade-up" data-aos-delay="100" class="badge-primary light small bold">Our process</div>
                                            </div>
                                            <h2 data-aos="fade-up" data-aos-delay="200" class="heading-h2-size extra-bold mg-bottom-0">Our process is as simple as just picking <span class="text-no-wrap">the phone</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div><a data-aos="fade-up" data-aos-delay="300" href="/contact-pages/contact-v1" class="btn-secondary bg-white center---tablet w-button">Book online<span class="line-rounded-icon link-icon-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-relative">
            <div class="w-layout-blockcontainer container-default z-index-1 w-container">
                <div style="border-radius: 24px; padding: 24px 24px 24px 24px; background-color: #ffce51;">
                    <div class="w-layout-grid grid-3-columns">
                        <div data-aos="zoom-in" data-aos-delay="100" class="card icon-top-card-v2">
                            <div class="pd-36px---34px">
                                <div class="mg-bottom-24px"><img src="/assets/icons/book-icon.svg" alt="Windroseusa" class="image-size _86px"></div>
                                <h3 class="heading-h3-size mg-bottom-4px">Get in touch <span class="text-no-wrap">with us</span></h3>
                                <div class="inner-container _500px---tablet center">
                                    <p class="mg-bottom-0 color-neutral-800">Proin et convallis tincidunt tincidunt. Viverra ut ullamcorp faucibus dictum. Integer in <span class="text-no-wrap">egestas volutpat.</span></p>
                                </div>
                            </div>
                        </div>
                        <div data-aos="zoom-in" data-aos-delay="750" class="card icon-top-card-v2">
                            <div class="pd-36px---34px">
                                <div class="mg-bottom-24px"><img src="/assets/icons/arrive-in-1hr-icon.svg" alt="Windroseusa" class="image-size _86px"></div>
                                <h3 class="heading-h3-size mg-bottom-4px">We arrive within <span class="text-no-wrap">1 Hour</span></h3>
                                <div class="inner-container _500px---tablet center">
                                    <p class="mg-bottom-0 color-neutral-800">Proin et convallis tincidunt tincidunt. Viverra ut ullamcorp faucibus dictum. Integer in <span class="text-no-wrap">egestas volutpat.</span></p>
                                </div>
                            </div>
                        </div>
                        <div data-aos="zoom-in" data-aos-delay="1500" class="card icon-top-card-v2 last">
                            <div class="pd-36px---34px">
                                <div class="mg-bottom-24px"><img src="/assets/icons/solve-your-problem-icon.svg" alt="Windroseusa" class="image-size _86px"></div>
                                <h3 class="heading-h3-size mg-bottom-4px">We solve <span class="text-no-wrap">your problem</span></h3>
                                <div class="inner-container _500px---tablet center">
                                    <p class="mg-bottom-0 color-neutral-800">Proin et convallis tincidunt tincidunt. Viverra ut ullamcorp faucibus dictum. Integer in <span class="text-no-wrap">egestas volutpat.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-wrapper our-process-shape-wrapper"><img src="/assets/iteration-process.webp" alt="" style="opacity: 0.04;" data-w-id="7ee5f11b-def7-8fdf-c269-144629956fd2" class="shape our-process-shape"></div>
        </div>
    </section>
    <!-- Importação do AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>