<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Section Services01</title>
    <link rel="stylesheet" href="/components/styles.css" />
  </head>
  <body>
    <section class="section pd-0px">
      <div class="inner---section big-size inner-section-services">
        <div class="half-bg-top half-bg-why-us">
          <div class="bg-floating why-us"></div>
        </div>
        <div class="container-default">
          <div>
            <div class="mg-bottom-40px">
              <div class="w-layout-vflex flex-vertical center text-center">
                <div class="mg-bottom-8px">
                  <div class="badge-primary small bold">Why us?</div>
                </div>
                <div class="inner-container _402px center">
                  <div class="inner-container _350px---tablet center">
                    <div class="inner-container _250px---mbl">
                      <h2 class="heading-h2-size extra-bold mg-bottom-4px">
                        Most Popular <span class="text-no-wrap">Services</span>
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="inner-container _504px center">
                  <div class="inner-container _450px---mbl">
                    <p class="mg-bottom-0">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                      elit tellus luctus nec ullamcorper
                      <span class="text-no-wrap">mattis pulvinar.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              style="display: flex"
              data-current="Electrical repairs"
              data-easing="ease"
              data-duration-in="300"
              data-duration-out="100"
              class="container-default"
            >
              <div class="container-default" role="tablist">
                <a
                  data-w-tab="Electrical repairs"
                  class="tab-left-icon w-inline-block w-tab-link w--current"
                  href="#w-tabs-0-data-w-pane-0"
                  role="tab"
                  aria-controls="w-tabs-0-data-w-pane-0"
                  aria-selected="true"
                >
                  <div class="mg-right-16px">
                    <div class="flex-vertical center">
                      <img
                        alt="Electrical Repairs Icon - Handyman X Webflow Template"
                        src="https://cdn.prod.website-files.com/649af44cc894b19720c0cd2c/64a32f985045c7ef1faff2b7_electrical-repairs-icon-handyman-x-webflow-template.svg"
                        class="image-size"
                      />
                    </div>
                  </div>
                  <div>Electrical repairs</div> </a
                ><a
                  data-w-tab="Lighting installation"
                  class="tab-left-icon w-inline-block w-tab-link"
                  id="w-tabs-0-data-w-tab-1"
                  href="#w-tabs-0-data-w-pane-1"
                  role="tab"
                  aria-controls="w-tabs-0-data-w-pane-1"
                  aria-selected="false"
                  tabindex="-1"
                >
                  <div class="mg-right-16px">
                    <div class="flex-vertical center">
                      <img
                        alt="Lighting Installation Icon - Handyman X Webflow Template"
                        src="https://cdn.prod.website-files.com/649af44cc894b19720c0cd2c/64a32f92139aedee1c7f20bb_lighting-installation-icon-handyman-x-webflow-template.svg"
                        class="image-size"
                      />
                      <div class="tab-status-wrapper">
                        <div
                          style="display: none; opacity: 0"
                          class="tab-active"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div>Lighting installation</div> </a
                ><a
                  data-w-tab="Electrical maintenance"
                  class="tab-left-icon w-inline-block w-tab-link"
                  id="w-tabs-0-data-w-tab-2"
                  href="#w-tabs-0-data-w-pane-2"
                  role="tab"
                  aria-controls="w-tabs-0-data-w-pane-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  <div class="mg-right-16px">
                    <div class="flex-vertical center">
                      <img
                        alt="Electrical Maintenance Icon - Handyman X Webflow Template"
                        src="https://cdn.prod.website-files.com/649af44cc894b19720c0cd2c/64a32f967457503c5bd8dfb5_electrical-maintenance-icon-handyman-x-webflow-template.svg"
                        class="image-size"
                      />
                      <div class="tab-status-wrapper">
                        <div
                          style="display: none; opacity: 0"
                          class="tab-active"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div>Electrical maintenance</div> </a
                ><a
                  data-w-tab="Wiring and rewiring"
                  class="tab-left-icon w-inline-block w-tab-link"
                  id="w-tabs-0-data-w-tab-3"
                  href="#w-tabs-0-data-w-pane-3"
                  role="tab"
                  aria-controls="w-tabs-0-data-w-pane-3"
                  aria-selected="false"
                  tabindex="-1"
                >
                  <div class="mg-right-16px">
                    <div class="flex-vertical center">
                      <img
                        alt="Wiring And Rewiring Icon - Handyman X Webflow Template"
                        src="https://cdn.prod.website-files.com/649af44cc894b19720c0cd2c/64a32f9420b5be3fa2d403d1_wiring-and-rewiring-icon-handyman-x-webflow-template.svg"
                        class="image-size"
                      />
                      <div class="tab-status-wrapper">
                        <div
                          style="display: none; opacity: 0"
                          class="tab-active"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div>Wiring and rewiring</div> </a
                ><a
                  data-w-tab="Safety inspections"
                  class="tab-left-icon w-inline-block w-tab-link"
                  id="w-tabs-0-data-w-tab-4"
                  href="#w-tabs-0-data-w-pane-4"
                  role="tab"
                  aria-controls="w-tabs-0-data-w-pane-4"
                  aria-selected="false"
                  tabindex="-1"
                >
                  <div class="mg-right-16px">
                    <div class="flex-vertical center">
                      <img
                        alt="Safety Inspections Icon - Handyman X Webflow Template"
                        src="https://cdn.prod.website-files.com/649af44cc894b19720c0cd2c/64a32f92327e8b6c0422ec45_safety-inspections-icon-handyman-x-webflow-template.svg"
                        class="image-size"
                      />
                      <div class="tab-status-wrapper">
                        <div
                          style="display: none; opacity: 0"
                          class="tab-active"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div>Safety inspections</div> </a
                ><a
                  data-w-tab="Home automation"
                  class="tab-left-icon last w-inline-block w-tab-link"
                  id="w-tabs-0-data-w-tab-5"
                  href="#w-tabs-0-data-w-pane-5"
                  role="tab"
                  aria-controls="w-tabs-0-data-w-pane-5"
                  aria-selected="false"
                  tabindex="-1"
                >
                  <div class="mg-right-16px">
                    <div class="flex-vertical center">
                      <img
                        alt="Home Automation Icon - Handyman X Webflow Template"
                        src="https://cdn.prod.website-files.com/649af44cc894b19720c0cd2c/64a32f92b7840d452f60f6de_home-automation-icon-handyman-x-webflow-template.svg"
                        class="image-size"
                      />
                      <div class="tab-status-wrapper">
                        <div
                          style="display: none; opacity: 0"
                          class="tab-active"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div>Home automation</div>
                </a>
              </div>
            </div>
            <div class="mg-top-40px">
              <div class="w-layout-hflex flex-horizontal">
                <a href="/services" class="btn-primary w-button"
                  >Our services<span class="line-rounded-icon link-icon-right"
                    ></span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
