<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Our Process</title>
  <link href="/components/styles.css" rel="stylesheet" />

  <!--  <script src="https://cdn.tailwindcss.com"></script>  -->
</head>

<body>
  <section class="section overflow-hidden">
    <!-- section -->
    <div class="w-layout-blockcontainer container-default w-container">
      <div class="z-index-1">
        <div class="mg-bottom-26px mg-bottom-26px---mbl">
          <div>
            <div class="w-layout-hflex flex-horizontal space-between center---tablet">
              <div class="inner-container _554px">
                <div class="inner-container _500px---tablet">
                  <div class="inner-container _400px---mbl center">
                    <div class="inner-container _350px---mbl center">
                      <div data-aos="fade-up" data-aos-delay="10" class="badge-top-wrapper">
                        <div class="badge-top">Our Process</div>
                      </div>
                      <h2 data-aos="fade-up" data-aos-delay="200" class="heading-h2-size extra-bold mg-bottom-0">
                        Our process is as simple as just picking
                        <span class="text-no-wrap">the phone</span>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <a data-aos="fade-up" data-aos-delay="300" href="https://app.windroseusa.com"
                class="btn-secondary bg-white center---tablet w-button">Book online<span
                  class="line-rounded-icon link-icon-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-relative">
      <div class="w-layout-blockcontainer container-default z-index-1 w-container">
        <div style="
              border-radius: 24px;
              padding: 24px 24px 24px 24px;
              background-color: #ffce51;
            " class="gradient">
          <div class="w-layout-grid grid-3-columns">
            <div data-aos="zoom-in" data-aos-delay="100" class="card icon-top-card-v2">
              <div class="pd-36px---34px">
                <div class="mg-bottom-24px">
                  <img src="https://charliebrownjs.github.io/windroseusa/assets/icons/book-icon.svg" alt="Windroseusa"
                    class="image-size _86px" />
                </div>
                <h3 class="heading-h3-size mg-bottom-4px">
                  Online Booking
                </h3>
                <div class="inner-container _500px---tablet center">
                  <p class="mg-bottom-0 color-neutral-800">
                    Make the appointment directly through the app.
                  </p>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" data-aos-delay="800" class="card icon-top-card-v2 last">
              <div class="pd-36px---34px">
                <div class="mg-bottom-24px">
                  <img src="https://charliebrownjs.github.io/windroseusa/assets/icons/notification.svg"
                    alt="Windroseusa" class="image-size _86px" />
                </div>
                <h3 class="heading-h3-size mg-bottom-4px">
                  E-mail <span class="text-no-wrap">Notification</span>
                </h3>
                <div class="inner-container _500px---tablet center">
                  <p class="mg-bottom-0 color-neutral-800">
                    We will instantly send you an email containing the payment link.
                  </p>
                </div>
              </div>
            </div>
            <div data-aos="zoom-in" data-aos-delay="400" class="card icon-top-card-v2">
              <div class="pd-36px---34px">
                <div class="mg-bottom-24px">
                  <img src="https://charliebrownjs.github.io/windroseusa/assets/icons/payment.svg" alt="Windroseusa"
                    class="image-size _86px" />
                </div>
                <h3 class="heading-h3-size mg-bottom-4px">
                  Payment <span class="text-no-wrap"></span>
                </h3>
                <div class="inner-container _500px---tablet center">
                  <p class="mg-bottom-0 color-neutral-800">
                    Make the payment using a credit card, Google Pay or Apple Pay.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="shape-wrapper our-process-shape-wrapper">
        <img src="https://charliebrownjs.github.io/windroseusa/assets/iteration-process.webp" alt=""
          style="opacity: 0.04" data-w-id="7ee5f11b-def7-8fdf-c269-144629956fd2" class="shape our-process-shape" />
      </div>
    </div>
  </section>
  <!-- Importação do AOS -->
  <script>
    AOS.init();
  </script>
</body>

</html>