<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Section Services01</title>
    <style>
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }

      .pulse-animation {
        animation: pulse 0.5s ease-in-out;
        animation-iteration-count: 1;
      }
    </style>
  </head>
  <body>
    <section style="background-color: #fff;" class="section pd-0px">
      <div class="inner---section big-size inner-section-services">
        <div class="half-bg-top half-bg-why-us">
          <div class="bg-floating why-us"></div>
        </div>
        <div class="container-default">
          <div>
            <div class="mg-bottom-40px">
              <div class="w-layout-vflex flex-vertical center text-center">
                <div class="mg-bottom-8px">
                  <div class="badge-primary light small bold">Services</div>
                </div>
                <div class="inner-container _402px center">
                  <div class="inner-container _350px---tablet center">
                    <div class="inner-container _250px---mbl">
                      <h2 class="heading-h2-size extra-bold mg-bottom-4px">
                        Most Popular <span class="text-no-wrap">Services</span>
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="inner-container _504px center">
                  <div class="inner-container _450px---mbl">
                    <p class="mg-bottom-0">
                      Services available for a minimum of 2 hours.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              style="display: flex"
              data-current="Electrical repairs"
              data-easing="ease"
              data-duration-in="300"
              data-duration-out="100"
              class="container-default"
            >
              <div class="container-default" role="tablist">
                <div>
                  <a
                    id="smart-home-button"
                    class="tab-left-icon w-inline-block w-tab-link"
                    href="#"
                    role="tab"
                    aria-controls="w-tabs-0-data-w-pane-0"
                    aria-selected="true"
                  >
                    <div class="mg-right-16px">
                      <div class="flex-vertical center">
                        <!-- Carrega a imagem estática inicialmente -->
                        <img
                          id="smart-home-icon"
                          alt="Smart Home Icon"
                          src="https://charliebrownjs.github.io/windroseusa/assets/gif/smart-home-static.png"
                          class="image-size"
                          width="85px"
                        />
                        
                      </div>
                    </div>
                    <div><div>Smart Home Services</div> <p style="font-weight: 300;font-size: 12px;max-width: 300px;margin-top: 0px; line-height:1.4;" class="subserbutton">Offering efficient smart home installations: Ring Doorbells, cameras, smart lights, WiFi speakers, SONOS, Google Home, Alexa, and more. (2-hour minimum required for service)</p></div>
                  </a>
                </div> 
                <div>
                  <a
                    id="furniture-assembly-button"
                    class="tab-left-icon w-inline-block w-tab-link"
                    href="#"
                    role="tab"
                    aria-controls="w-tabs-0-data-w-pane-0"
                    aria-selected="true"
                  >
                    <div class="mg-right-16px">
                      <div class="flex-vertical center">
                        <!-- Carrega a imagem estática inicialmente -->
                        <img
                          id="furniture-assembly-icon"
                          alt="Furniture Assembly Icon"
                          src="https://charliebrownjs.github.io/windroseusa/assets/gif/furniture-static.png"
                          class="image-size"
                          width="85px"
                        />
                      </div>
                    </div>
                    <div><div>Furniture Assembly</div> <p style="font-weight: 300;font-size: 12px;max-width: 300px;margin-top: 0px; line-height:1.4;" class="subserbutton">Our furniture-assembly professionals have the experience and the tools needed to assemble your furniture quickly and inexpensively.</p></div>
                  </a>
                </div> <!--  first tab -->
                <!-- second tab -->
                <div>
                  <a
                    id="computer-help-button"
                    class="tab-left-icon w-inline-block w-tab-link"
                    href="#"
                    role="tab"
                    aria-controls="w-tabs-0-data-w-pane-1"
                    aria-selected="false"
                  >
                    <div class="mg-right-16px">
                      <div class="flex-vertical center">
                        <!-- Carrega a imagem estática inicialmente -->
                        <img
                          id="computer-help-icon"
                          alt="computer-help Icon"
                          src="https://charliebrownjs.github.io/windroseusa/assets/gif/computer-help-static.png"
                          class="image-size"
                          width="85px"
                        />
                      </div>
                    </div>
                    <div><div>Computer Help</div> <p style="font-weight: 300;font-size: 12px;max-width: 300px;margin-top: 0px; line-height:1.4;" class="subserbutton">Our IT support service offers many benefits, designed to free you from the necessary but time-consuming tasks of setting up your own IT.</p></div>
                  </a>
                </div>
                <!-- third tab -->
                <div>
                  <a
                    id="decoration-button"
                    class="tab-left-icon w-inline-block w-tab-link"
                    href="#"
                    role="tab"
                    aria-controls="w-tabs-0-data-w-pane-0"
                    aria-selected="true"
                  >
                    <div class="mg-right-16px">
                      <div class="flex-vertical center">
                        <!-- Carrega a imagem estática inicialmente -->
                        <img
                          id="decoration-icon"
                          alt="decoration Icon"
                          src="https://charliebrownjs.github.io/windroseusa/assets/gif/decoration-static.png"
                          class="image-size"
                          width="85px"
                        />
                      </div>
                    </div>
                    <div><div>Decoration</div> <p style="font-weight: 300;font-size: 12px;max-width: 300px;margin-top: 0px; line-height:1.4;" class="subserbutton">"Providing ladders and other equipment, I deliver agile, high-quality event decoration services for special occasions.</p></div>
                  </a>
                </div> 
                <!-- fourth tab -->
                <div>
                  <a
                    id="gutter-cleaning-button"
                    class="tab-left-icon w-inline-block w-tab-link"
                    href="#"
                    role="tab"
                    aria-controls="w-tabs-0-data-w-pane-0"
                    aria-selected="true"
                  >
                    <div class="mg-right-16px">
                      <div class="flex-vertical center">
                        <!-- Carrega a imagem estática inicialmente -->
                        <img
                          id="gutter-cleaning-icon"
                          alt="Gutter Cleaning Icon"
                          src="https://charliebrownjs.github.io/windroseusa/assets/gif/gutter-cleaning-static.png"
                          class="image-size"
                          width="85px"
                        />
                      </div>
                    </div>
                    <div><div>Gutter Cleaning</div> <p style="font-weight: 300;font-size: 12px;max-width: 300px;margin-top: 0px; line-height:1.4;" class="subserbutton">To make sure water properly runs away from your home, we do all the dirty work so you don't have to.</p></div>
                  </a>
                </div> 
                <!-- fifth tab -->
                <div>
                  <a
                    id="moving-help-button"
                    class="tab-left-icon w-inline-block w-tab-link"
                    href="#"
                    role="tab"
                    aria-controls="w-tabs-0-data-w-pane-0"
                    aria-selected="true"
                  >
                    <div class="mg-right-16px">
                      <div class="flex-vertical center">
                        <!-- Carrega a imagem estática inicialmente -->
                        
                        <img
                          id="moving-help-icon"
                          alt="Moving Help Icon"
                          src="https://charliebrownjs.github.io/windroseusa/assets/gif/moving-help-static.png"
                          class="image-size"
                          width="85px"
                        />
                      </div>
                    </div>
                    <div><div>Help Moving</div> <p style="font-weight: 300;font-size: 12px;max-width: 300px;margin-top: 0px; line-height:1.4;" class="subserbutton">Moving locally has never been easier. Full and Partial Packing Services, For packing all your belongings or just a portion of your packing, help may be available.</p></div>
                  </a>
                </div> 
                <!-- sixth tab -->
                <div class="mg-top-40px">
                  <div class="w-layout-hflex flex-horizontal">
                    <a href="/services" class="btn-primary w-button"
                      >Our services<span
                        class="line-rounded-icon link-icon-right"
                        ></span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const services = [
          { buttonId: "furniture-assembly-button", iconId: "furniture-assembly-icon", staticSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/furniture-static.png", gifSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/furniture-anim.gif" },
          { buttonId: "computer-help-button", iconId: "computer-help-icon", staticSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/computer-help-static.png", gifSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/computer-help-anim.gif" },
          { buttonId: "decoration-button", iconId: "decoration-icon", staticSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/decoration-static.png", gifSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/decoration-anim.gif" },
          { buttonId: "gutter-cleaning-button", iconId: "gutter-cleaning-icon", staticSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/gutter-cleaning-static.png", gifSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/gutter-cleaning-anim.gif" },
          { buttonId: "moving-help-button", iconId: "moving-help-icon", staticSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/moving-help-static.png", gifSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/moving-help-anim.gif" },
          { buttonId: "smart-home-button", iconId: "smart-home-icon", staticSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/smart-home-static.png", gifSrc: "https://charliebrownjs.github.io/windroseusa/assets/gif/smart-home-anim.gif" },
          // Adicione outras entradas aqui para os demais ícones
        ];

        function setHoverEffect({ buttonId, iconId, staticSrc, gifSrc }) {
          const button = document.getElementById(buttonId);
          const icon = document.getElementById(iconId);

          button.addEventListener("mouseenter", function () {
            if (icon.src !== window.location.origin + gifSrc) {
              icon.src = gifSrc;
              icon.classList.add("pulse-animation");
            }
          });

          button.addEventListener("mouseleave", function () {
            if (icon.src !== window.location.origin + staticSrc) {
              icon.src = staticSrc;
              icon.classList.remove("pulse-animation");
            }
          });
        }

        // Aplicar o efeito de hover para cada serviço
        services.forEach(setHoverEffect);
      });
    </script>
  </body>
</html>
