<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/components/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <section class="pt-52 pb-0"> <!-- section -->
        <div class="w-layout-blockcontainer container-default w-container">
            <div>
                <div class="mb-8"> <!-- container bg-red-400 -->
                    <div class="w-layout-hflex flex-horizontal space-between center---tablet">
                        <div class="inner-container _490px bg">
                            <div class="inner-container _400px---mbl">
                                <div data-aos="fade-up" data-aos-delay="100" class=" mb-2">
                                    <div class="badge-primary light small bold">About</div>
                                </div>
                                <h2 data-aos="fade-up" data-aos-delay="200" class=" heading-h2-size extra-bold mg-bottom-0">Over 18+ years' experience assembling hundreds of different products.</h2>
                            </div>
                        </div><a href="#" data-aos="fade-up" data-aos-delay="300" class=" btn-secondary align-self-bottom center---tablet w-button">About us<span class="line-rounded-icon link-icon-right" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></span> </a>
                    </div>
                </div>
                <div  class="w-layout-layout grid-gallery wf-layout-layout">
                    <div data-aos="fade-right" data-aos-delay="100" id="w-node-_2dcc60f8-8d7e-ac7c-3148-535f0de71c96-6dd935f1" class="w-layout-cell">
                        <div class="figure _w-h-100"><img  alt="Gallery WindroseUSA" sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 1439px) 95vw, 1220px" srcset="/assets/services/port-fitness.jpeg 500w, /assets/services/port-fitness.jpeg 768w" class="fit-cover _w-h-100"></div>
                    </div>
                    <div data-aos="fade-left" data-aos-delay="200" id="w-node-_2dcc60f8-8d7e-ac7c-3148-535f0de71c97-6dd935f1" class="w-layout-cell">
                        <div class="figure _w-h-100"><img alt="Gallery WindroseUSA" sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 1439px) 95vw, 1220px" srcset="/assets/services/squat-assemb.jpeg 500w, /assets/services/squat-assemb.jpeg 764w" class="fit-cover _w-h-100"></div>
                    </div>
                    <div data-aos="fade-left" data-aos-delay="300" id="w-node-_43f400a6-dbf0-4112-399a-9bd4bfdc4f0c-6dd935f1" class="w-layout-cell">
                        <div class="figure _w-h-100"><img alt="Gallery WindroseUSA" sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 1439px) 95vw, 1220px" srcset="/assets/services/squat-assemb2.jpeg 500w, /assets/services/squat-assemb2.jpeg 764w" class="fit-cover _w-h-100"></div>
                    </div>
                    <div data-aos="fade-up" data-aos-delay="400" id="w-node-_3d081ca7-9bb4-869e-4ac9-f77e5f8aaa23-6dd935f1" class="w-layout-cell">
                        <div class="figure _w-h-100"><img alt="Gallery WindroseUSA" sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 1439px) 95vw, 1220px" srcset="/assets/services/lands-assemb.jpeg 500w, /assets/services/lands-assemb.jpeg 800w, /assets/services/lands-assemb.jpeg 1080w" class="fit-cover _w-h-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Importação do AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>