<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="dist/reveal.css">
    <link rel="stylesheet" href="dist/theme/white.css">
    <style>
        .random-image {
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="reveal">
        <div class="slides">
            <section>
                <div class="random-image" style="background-image: url('https://source.unsplash.com/random/1600x900')"></div>
            </section>
            <section>
                <div class="random-image" style="background-image: url('https://source.unsplash.com/random/1600x900')"></div>
            </section>
        </div>
    </div>
    <script src="dist/reveal.js"></script>
    <script>
        Reveal.initialize();
    </script>
</body>
</html>
